<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
    rel="stylesheet" type="text/css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css" />

  <title>Product List.</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <link rel="shortcut icon" href="https://drive.google.com/file/d/1v5yyrRso6SehewvajxBBrX1qapao7_2z/view?usp=sharing"
    type="image/x-icon" />

  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="PageListCSS.css">
  <link rel="shortcut icon" href="/Animated Leaf Icon final.jpg" type="image/x-icon">

</head>

<body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <header>
    <%- include("./partials/navbar-loggedin.ejs") %>
  </header>
    
  <div class="container-xl">
    <div class="row">
      <div class="col-md-12">
        <h2>Featured <b>Products</b></h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img
                        src="https://radiotvcentre.pk/wp-content/uploads/2020/07/HD9303.jpg"
                        class="img-fluid" alt="">
                    </div>
                    <div class="thumb-content">
                      <h4> <%= list[0].name %> </h4>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><strike>₹<%= list[0].a_price %> </strike> <b>₹<%= list[0].d_price %></b></p>
                      <a href="/electric-products/<%= list[0].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQrl1LiUpJeH3ge0qlwwNs3m9KdC1_LsUzNZ-aW8NeSD-BMLWKW4N_Q5Htk3nanOfsAD6hWLa4Ccsc&usqp=CAc" class="img-fluid" alt="Headphone">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[1].name %></h4>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><strike>₹<%= list[1].a_price %> </strike> <b>₹<%= list[1].d_price %></b></p>
                      <a href="/electric-products/<%= list[1].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="https://m.media-amazon.com/images/I/71oq8MxkjRL._AC_UL480_FMwebp_QL65_.jpg" class="img-fluid" alt="Macbook">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[2].name %></h4>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><strike>₹<%= list[2].a_price %> </strike> <b>₹<%= list[2].d_price %></b></p>
                      <a href="/electric-products/<%= list[2].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="https://m.media-amazon.com/images/I/81aC4h5kVAL._AC_UL480_FMwebp_QL65_.jpg" class="img-fluid" alt="Nikon">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[3].name %></h4>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <p class="item-price"><strike>₹<%= list[3].a_price %> </strike> <b>₹<%= list[3].d_price %></b></p>
                      <a href="/electric-products/<%= list[3].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="https://m.media-amazon.com/images/I/618r1GoN84L._AC_UL480_FMwebp_QL65_.jpg" class="img-fluid" alt="Play Station">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[4].name %></h4>
                      <p class="item-price"><strike>₹<%= list[4].a_price %> </strike> <b>₹<%= list[4].d_price %></b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[4].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="https://m.media-amazon.com/images/I/4161ghQNJYS._AC_UL480_FMwebp_QL65_.jpg  " class="img-fluid" alt="Macbook">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[5].name %></h4>
                      <p class="item-price"><strike>₹<%= list[5].a_price %> </strike> <b>₹<%= list[5].d_price %></b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[5].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="https://m.media-amazon.com/images/I/61u1uk7WZPL._AC_UL480_FMwebp_QL65_.jpg" class="img-fluid" alt="Speaker">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[6].name %></h4>
                      <p class="item-price"><strike>₹<%= list[6].a_price %> </strike> <b>₹<%= list[6].d_price %></b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[6].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="https://m.media-amazon.com/images/I/51Wziq-yXQL._AC_UL480_QL65_.jpg" class="img-fluid" alt="Galaxy">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[7].name %></h4>
                      <p class="item-price"><strike>₹<%= list[7].a_price %> </strike> <b>₹<%= list[7].d_price %></b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[7].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item carousel-item">
              <div class="row">
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="https://images-eu.ssl-images-amazon.com/images/I/61JM7nC4OKL._AC_UL320_SR320,320_.jpg" class="img-fluid" alt="iPhone">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[8].name %></h4>
                      <p class="item-price"><strike>₹<%= list[8].a_price %> </strike> <b>₹<%= list[8].d_price %></b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[8].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="https://images-eu.ssl-images-amazon.com/images/I/71LIfhSpAYS._AC_UL320_SR320,320_.jpg" class="img-fluid" alt="Canon">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[9].name %></h4>
                      <p class="item-price"><strike>₹<%= list[9].a_price %> </strike> <b>₹<%= list[9].d_price %></b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[9].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper">
                    <span class="wish-icon"><ul>
                      <li><a href="#"><i class="fas fa-heart"></i></a></li>
                  </ul></span>
                    <div class="img-box">
                      <img src="https://m.media-amazon.com/images/I/515DeRX2oqL._AC_UL480_QL65_.jpg" class="img-fluid" alt="Pixel">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[10].name %></h4>
                      <p class="item-price"><strike>₹<%= list[10].a_price %> </strike> <b>₹<%= list[10].d_price %></b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[10].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="thumb-wrapper part-1">
                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                    <div class="img-box">
                      <img src="https://m.media-amazon.com/images/I/61gZ-WIJhML._AC_UL480_QL65_.jpg" class="img-fluid" alt="Watch">
                    </div>
                    <div class="thumb-content">
                      <h4><%= list[11].name %></h4>
                      <p class="item-price"><strike>₹<%= list[11].a_price %> </strike> <b>₹<%= list[11].d_price %></b></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[11].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>



  <section class="section-products">
		<div class="container item">
				<div class="row justify-content-center text-center">
						<div class="col-md-8 col-lg-6">
								<div class="header">
										<h2>Our Products</h2>
								</div>
						</div>
				</div>
				<div class="row">
						<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-1" class="single-product">
                  <div class="part-1">
                      <ul>
                          <li><a href="#"><i class="fas fa-heart"></i></a></li>
                      </ul>
                  </div>
                  <div class="part-2">
                    <div class="thumb-content">
                      <h4><%= list[12].name %></h4>
                      <p class="item-price"><strike><%= list[12].a_price %></strike> <span><%= list[12].d_price %></span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[12].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
              </div>
          </div>
						<!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-2" class="single-product">
                  <div class="part-1">
                    <ul>
                      <li><a href="#"><i class="fas fa-heart"></i></a></li>
                  </ul>
                  </div>
                  <div class="part-2">
                    <div class="thumb-content">
                      <h4><%= list[13].name %></h4>
                      <p class="item-price"><strike><%= list[13].a_price %></strike> <span><%= list[13].d_price %></span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[13].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
              </div>
          </div>
						<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-3" class="single-product">
										<div class="part-1">
                      <ul>
                        <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    </ul>
										</div>
										<div class="part-2">
                      <div class="thumb-content">
                        <h4><%= list[14].name %></h4>
                        <p class="item-price"><strike><%= list[14].a_price %></strike> <span><%= list[14].d_price %></span></p>
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                        <a href="/electric-products/<%= list[14].id %>" class="btn btn-primary">Add to Cart</a>
                      </div>
                    </div>
								</div>
						</div>
						<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-4" class="single-product">
										<div class="part-1">
												<!-- <span class="new">new</span> -->
                        <ul>
                          <li><a href="#"><i class="fas fa-heart"></i></a></li>
                      </ul>
										</div>
										<div class="part-2">
                      <div class="thumb-content">
                        <h4><%= list[15].name %></h4>
                        <p class="item-price"><strike><%= list[15].a_price %></strike> <span><%= list[15].d_price %></span></p>
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                        <a href="/electric-products/<%= list[15].id %>" class="btn btn-primary">Add to Cart</a>
                      </div>
                    </div>
								</div>
						</div>
						<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-5" class="single-product">
										<div class="part-1">
                      <ul>
                        <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    </ul>
										</div>
										<div class="part-2">
                      <div class="thumb-content">
                        <h4><%= list[16].name %></h4>
                        <p class="item-price"><strike><%= list[16].a_price %></strike> <span><%= list[16].d_price %></span></p>
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                        <a href="/electric-products/<%= list[16].id %>" class="btn btn-primary">Add to Cart</a>
                      </div>
                    </div>
								</div>
						</div>
						<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-6" class="single-product">
										<div class="part-1">
												
                        <ul>
                          <li><a href="#"><i class="fas fa-heart"></i></a></li>
                      </ul>
										</div>
										<div class="part-2">
                      <div class="thumb-content">
                        <h4><%= list[17].name %></h4>
                        <p class="item-price"><strike><%= list[17].a_price %></strike> <span><%= list[17].d_price %></span></p>
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                        <a href="/electric-products/<%= list[17].id %>" class="btn btn-primary">Add to Cart</a>
                      </div>
                    </div>
								</div>
						</div>
						<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-7" class="single-product">
										<div class="part-1">
                      <ul>
                        <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    </ul>
										</div>
										<div class="part-2">
                      <div class="thumb-content">
                        <h4><%= list[18].name %></h4>
                        <p class="item-price"><strike><%= list[18].a_price %></strike> <span><%= list[18].d_price %></span></p>
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                        <a href="/electric-products/<%= list[18].id %>" class="btn btn-primary">Add to Cart</a>
                      </div>
                    </div>
								</div>
						</div>
						<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
								<div id="product-8" class="single-product">
										<div class="part-1">
												<!-- <span class="new">new</span> -->
                        <ul>
                          <li><a href="#"><i class="fas fa-heart"></i></a></li>
                      </ul>
										</div>
										<div class="part-2">
                      <div class="thumb-content">
                        <h4><%= list[19].name %></h4>
                        <p class="item-price"><strike><%= list[19].a_price %></strike> <span><%= list[19].d_price %></span></p>
                        <div class="star-rating">
                          <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                            <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                          </ul>
                        </div>
                        <a href="/electric-products/<%= list[19].id %>" class="btn btn-primary">Add to Cart</a>
                      </div>
                    </div>
								</div>
						</div>

            	<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-9" class="single-product">
                  <div class="part-1">
                    <ul>
                      <li><a href="#"><i class="fas fa-heart"></i></a></li>
                  </ul>
                  </div>
                  <div class="part-2">
                    <div class="thumb-content">
                      <h4><%= list[20].name %></h4>
                      <p class="item-price"><strike><%= list[20].a_price %></strike> <span><%= list[20].d_price %></span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[20].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
              </div>
          </div>
          	<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-10" class="single-product">
                  <div class="part-1">
                    <ul>
                      <li><a href="#"><i class="fas fa-heart"></i></a></li>
                  </ul>
                  </div>
                  <div class="part-2">
                    <div class="thumb-content">
                      <h4><%= list[21].name %></h4>
                      <p class="item-price"><strike><%= list[21].a_price %></strike> <span><%= list[21].d_price %></span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[21].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
              </div>
          </div>
          	<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-11" class="single-product">
                  <div class="part-1">
                    <ul>
                      <li><a href="#"><i class="fas fa-heart"></i></a></li>
                  </ul>
                  </div>
                  <div class="part-2">
                    <div class="thumb-content">
                      <h4><%= list[22].name %></h4>
                      <p class="item-price"><strike><%= list[22].a_price %></strike> <span><%= list[22].d_price %></span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[22].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
              </div>
          </div>
          	<!-- Single Product -->
						<div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-12" class="single-product">
                  <div class="part-1">
                    <ul>
                      <li><a href="#"><i class="fas fa-heart"></i></a></li>
                  </ul>
                  </div>
                  <div class="part-2">
                    <div class="thumb-content">
                      <h4><%= list[23].name %></h4>
                      <p class="item-price"><strike><%= list[23].a_price %></strike> <span><%= list[23].d_price %></span></p>
                      <div class="star-rating">
                        <ul class="list-inline">
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star"></i></li>
                          <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                        </ul>
                      </div>
                      <a href="/electric-products/<%= list[23].id %>" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
              </div>
          </div>
				</div>
		</div>
</section>


  <footer class="bg-light pb-5">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">
        &copy; Ecohub.com All rights reserved.
      </p>
    </div>
  </footer>
</body>

</html>